mlruns/
02-dados/mlruns/
02-dados/mlartifacts/
02-dados/*.zip
02-dados/*.csv

.DS_Store

# Ignorar datasets e arquivos grandes
02-dados/movies_dataset/*.csv
02-dados/movies_dataset/*.zip
*.zip
02-dados/.venv/